<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>



</head>

<body>
<div>
    <h1> Параметры для Задачи Коши</h1>

    <form method="POST" action='http://127.0.0.1:8000/koshi' class="post-form">{% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="save btn btn-default">Save</button>

        </form>
</div>
 <form method='POST' action='http://127.0.0.1:8000/' enctype='multipart/form-data'>{% csrf_token %}

<input type='submit' class='class' value='Главная страница' />
        </form>

</body>
</html>





