<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>


    <link rel="stylesheet" href="{% static 'css/first.css' %}">
</head>

<body>
<div>
    <form method='POST' action='http://127.0.0.1:8000/params' enctype='multipart/form-data'>{% csrf_token %}

<input type='submit' class='buttonclass' value='Ввод параметров функции' />
        </form>
</div>
<div>
    <form method='POST' action='http://127.0.0.1:8000/integral' enctype='multipart/form-data'>{% csrf_token %}

<input type='submit' class='buttonclass' value='Вычисление интеграла' />
        </form>
</div>
<div>
    <form method='POST' action='http://127.0.0.1:8000/coeffs' enctype='multipart/form-data'>{% csrf_token %}

<input type='submit' class='buttonclass' value='Вычисление коэффициентов интерполяции' />
        </form>
</div>
<div>
    <form method='POST' action='http://127.0.0.1:8000/koshi' enctype='multipart/form-data'>{% csrf_token %}

<input type='submit' class='buttonclass' value='Решение задачи Коши' />
        </form>
</div>
</body>
</html>


