<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>

 <link rel="stylesheet" href="{% static 'css/second.css' %}">

</head>

<body>
<div>
    <h1> Параметры для p(t), z(t), S(t)</h1>
    <form method="POST" action='http://127.0.0.1:8000/params' class="post-form">{% csrf_token %}
            {{ budget.as_p }}

            <button type="submit" class="save btn btn-default">Save</button>

        </form>
</div>
 <form method='POST' action='http://127.0.0.1:8000/' enctype='multipart/form-data'>{% csrf_token %}

<input type='submit' class='class' value='Главная страница' />
        </form>
    {{ form.as_p }}
</body>
</html>





